<!-- <div class="container">
  <h1>ZALOGUJ</h1>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="form-group">
      <label for="password">HASŁO</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="form-group">
      <button type="submit">Login</button>
    </div>
  </form>
</div> -->
<form>
  <div class="logo"><img src="../../assets/logoT.png" /></div>

  <h1>Logowanie</h1>

  <label for="emial">Podaj Adres Email:</label>
  <input type="email" placeholder="Email" id="email" />

  <label for="password">Podaj Hasło:</label>
  <input type="password" placeholder="Hasło" id="password" />

  <button>ZALOGUJ</button>
  <div class="login-p">
    <p>Nie masz konta? <a href="/register">Zarejestruj się tutaj!</a></p>
  </div>
</form>
