<div class="home_menu">
  <nb-card>
    <nb-card-header> <h1>Home</h1> </nb-card-header>
    <nb-card-body>
      <div class="container">
        <div id="home-calendar" class="home-container">
          <h1>Calendar</h1>
          <input
            nbInput
            placeholder="Pick Date Range"
            [nbDatepicker]="formpicker"
          />
          <nb-rangepicker #formpicker></nb-rangepicker>
          <nb-accordion class="accordion-with-scroll">
            <nb-accordion-item *ngFor="let event of events">
              <nb-accordion-item-header
                ><h3>{{ event.title }}</h3>
                <p>
                  {{ event.start_date | date : "shortDate" }}
                </p></nb-accordion-item-header
              >
              <nb-accordion-item-body
                ><p>{{ event.location_name }}</p></nb-accordion-item-body
              >
            </nb-accordion-item>
          </nb-accordion>
        </div>
        <div id="home-teams" class="home-container">
          <h1>Teams</h1>
          <a href="/teams"
            ><img src="../../assets/Teams.png" width="250px;"
          /></a>
          <div id="teams-h4">
            <h4>Teams: 0</h4>
            <h4>Players: 0</h4>
          </div>
        </div>
        <div class="home-container">
          <h1>Stats</h1>
        </div>
        <div class="home-container">
          <h1>Messages</h1>
        </div>
        <div class="home-container">
          <h1>Info</h1>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
