[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.7"
djangorestframework = "*"
markdown = "*"
psycopg2 = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
