<h1 id="title-stats">Statystyki</h1>
<button class="add_button" (click)="addStats()" *requiredPerms="['COACH']">
  Dodaj statystyki
</button>

<div class="container">
  <div *ngFor="let user of users">
    <a (click)="go_to_player_stats(user.id)">
      <nb-card class="player-card" *ngIf="user.role == '3'">
        <img src="../../assets/logo.png" />
        <h2>{{ user.first_name }}</h2>
        <h3>{{ user.last_name }}</h3>
        <h4>{{ user.username }}</h4>
      </nb-card></a
    >
  </div>
</div>
