<h1 id="title-stats">Statystyki</h1>
<nb-search type="rotate-layout"></nb-search
><nb-card>
  <nb-card-header>Wyszukiwanie dla:</nb-card-header>
  <nb-card-body>
    <h3>{{ value || "-" }}</h3>
  </nb-card-body>
</nb-card>
<div class="container">
  <div *ngFor="let user of users">
    <a href="player-statistics">
      <nb-card class="player-card">
        <img src="../../assets/logo.png" />
        <h1>{{ user.first_name }}</h1>
        <h4>Drużyna</h4>
      </nb-card></a
    >
  </div>
</div>
