<h1 id="title-stats">Statystyki</h1>
<nb-search type="rotate-layout"></nb-search
><nb-card>
  <nb-card-header>Wyszukiwanie dla:</nb-card-header>
  <nb-card-body>
    <h3>{{ value || "-" }}</h3>
  </nb-card-body>
</nb-card>
<div class="container">
  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >
  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >

  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >

  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >

  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >

  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >

  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >

  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >

  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >
  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >
  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >
  <a href="home/statistics/#">
    <nb-card class="player-card">
      <img src="../../assets/logo.png" />
      <h1>Imie Nazwisko</h1>
      <h4>Drużyna</h4>
    </nb-card></a
  >
</div>
