<h1 id="title-teams">Moje drużyny</h1>
<nb-search type="rotate-layout"></nb-search
><nb-card>
  <nb-card-header>Wyszukiwanie dla:</nb-card-header>
  <nb-card-body>
    <h3>{{ value || "-" }}</h3>
  </nb-card-body>
</nb-card>
<div class="container">
  <a href="home/teams/#"
    ><nb-card class="team-card">
      <img src="../../assets/logoT.png" />
      <h1>Drużyna X</h1>
      <h3>Zawodnicy: X</h3>
    </nb-card>
  </a>
  <a href="home/teams/#"
    ><nb-card class="team-card">
      <img src="../../assets/logoT.png" />
      <h1>Drużyna X</h1>
      <h3>Zawodnicy: X</h3>
    </nb-card>
  </a>
  <a href="home/teams/#"
    ><nb-card class="team-card">
      <img src="../../assets/logoT.png" />
      <h1>Drużyna X</h1>
      <h3>Zawodnicy: X</h3>
    </nb-card>
  </a>
  <a href="home/teams/#"
    ><nb-card class="team-card">
      <img src="../../assets/logoT.png" />
      <h1>Drużyna X</h1>
      <h3>Zawodnicy: X</h3>
    </nb-card>
  </a>
  <a href="home/teams/#"
    ><nb-card class="team-card">
      <img src="../../assets/logoT.png" />
      <h1>Drużyna X</h1>
      <h3>Zawodnicy: X</h3>
    </nb-card>
  </a>
  <a href="home/teams/#"
    ><nb-card class="team-card">
      <img src="../../assets/logoT.png" />
      <h1>Drużyna X</h1>
      <h3>Zawodnicy: X</h3>
    </nb-card>
  </a>
</div>
