<!-- <nb-card>
  <nb-card-header>
    <h1>Calendar</h1>
  </nb-card-header>
  <full-calendar [options]="calendarOptions">
    <ng-template #eventContent let-arg>
      <b>{{ arg.timeText }}</b>
      <i>{{ arg.event.title }}</i>
    </ng-template></full-calendar
  >
  <nb-card id="event-container">
    <nb-accordion class="accordion-with-scroll">
      <nb-accordion-item *ngFor="let event of events">
        <nb-accordion-item-header
          ><h3>{{ event.title }}</h3>
          <p>
            {{ event.start_date | date : "shortDate" }}
          </p></nb-accordion-item-header
        >
        <nb-accordion-item-body
          ><p>{{ event.location_name }}</p></nb-accordion-item-body
        >
      </nb-accordion-item>
    </nb-accordion>
  </nb-card>
</nb-card> -->

<nb-card class="home_menu">
  <nb-card-header>
    <h1>Kalendarz</h1>
    <button class="add_button" (click)="addEvent()" *requiredPerms="['COACH']">
      Dodaj wydarzenie
    </button>
    <button
      class="add_button"
      (click)="addLocation()"
      *requiredPerms="['COACH']"
    >
      Dodaj lokalizację
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <div>
        <nb-calendar-range
          [(range)]="range"
          (rangeChange)="getRangeDate($event)"
        ></nb-calendar-range>
      </div>
      <div id="home-calendar" class="home-container">
        <div class="calendar-container">
          <div class="range">
            <nb-accordion class="accordion-with-scroll">
              <nb-accordion-item *ngFor="let event of events">
                <nb-accordion-item-header
                  ><h3>{{ event.title }}</h3>
                  <p>
                    {{ event.start_date | date : "shortDate" }}
                  </p></nb-accordion-item-header
                >
                <nb-accordion-item-body
                  ><p>{{ event.location_name }}</p></nb-accordion-item-body
                >
              </nb-accordion-item>
            </nb-accordion>
          </div>
        </div>
      </div>
    </div></nb-card-body
  >
</nb-card>
