<nb-card>
  <nb-card-header>
    <h1>Profil</h1>
  </nb-card-header>
  <nb-card-body>
    <img src="../../assets/logo.png" />
    <p class="name">{{ user?.first_name }}</p>

    <p class="name">{{ user?.last_name }}</p>
    <div class="main">
      <div class="column">
        <p *ngIf="user.role == '3'" class="role">Zawodnik</p>
        <p *ngIf="user.role == '2'" class="role">Trener</p>
        <h4>Nazwa użytkownika:</h4>
        <p class="email">{{ user.username }}</p>
        <h4>Adres E-mail:</h4>
        <p class="email">{{ user.email }}</p>
        <h4>Numer telefonu:</h4>
        <p class="number">{{ user.phone_number }}</p>
      </div>
      <div class="column" *ngIf="user.role == '3'">
        <h5>Data urodzenia:</h5>
        <p>{{ user.birth_details }}</p>
        <h5>Badania ważne do:</h5>
        <p>{{ user.medical_tests_deadline }}</p>
      </div>
      <div class="column">
        <h4>Drużyny:</h4>
        <ul *ngFor="let team of teams">
          <li class="team">
            <p class="team">{{ team.name }}</p>
          </li>
        </ul>
      </div>
      <div class="column" *ngIf="user.role == '2'"></div>
    </div>
  </nb-card-body>
  <nb-card-footer
    ><div class="buttons">
      <button (click)="updateUser()">Edytuj</button>
    </div></nb-card-footer
  >
</nb-card>
